* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__navegacao{
    display: flex;
    justify-content: left;
    padding: 1% 14%;
}

.pagina__pessoal{
    background-color: black;
    padding: 10px 15px;
    font-size: 1.25rem;
    border: white solid;
    text-decoration: none;
}

.principal {
    padding: 1% 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.principal__container__1 {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5vh;
}


.principal__container__2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5vh;
}

#principal__container__entrada {
    background: none;
    border: none;
    outline: none;
    resize: none;
    user-select: none;
    color: white;
    width: 100%;
    height: 25vh;
    font-size: 18px;

}

.principal__container__botoes {
    display: flex;
    justify-content: space-between;
}

.principal__container__botoes__botao {
    background-color: black;
    padding: 10px 15px;
    font-size: 1.25rem;
    border: white solid;
    text-decoration: none;
}

#principal__container__saida {

    background-color: #D8DFE8;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: auto;
}

#saida__paragrafo{
    flex: 1;
    /* overflow: hidden; */
    /* word-break: normal; */
    /* word-break: break-all; */
    hyphens: auto;
    white-space: normal;
    color: black;
    font-size: 18px;
    padding: 5px;
}

.principal__container__aviso {
    text-align: center;
}
footer {
    background-color: black;
    display: flex;
    justify-content: center;
}

.principal__rodape {
    padding: 1%;
}


#principal__container__botao__copiar {
    background-color: black;
    border: white solid;
    text-decoration: none;

}

@media (max-width: 1100px) {
    body {
        padding: 5% 0%;
        justify-content: center;
        gap: 2rem;
    }

    .menu__navegacao{
        padding-left: 12%;
    }
    .principal__container__1{
        width: 80%;
        gap: 2vh;
    }
    .principal__container__2{
        width: 80%;
        gap: 2vh;
    }
    .principal {
        padding: 1% 2%;
        flex-direction: column;
        gap: 3rem;
        justify-content: space-around;
    }

    #principal__container__imagem{
        display: none;
    }
    #principal__container__entrada{
        height: 15vh;
    }

    #principal__container__saida{
        height: 15vh;
    }
}

@media (max-width: 450px) {
    .menu__navegacao{
        padding: 0%;
        justify-content: center;
    }

    .principal__container__botoes {
        flex-direction: column;
        gap: 1rem;
    }
    .principal__container__1{
        width: 96%;
        gap: 2vh;
    }
    .principal__container__2{
        width: 96%;
        gap: 2vh;
    }

}